# Exclude everything by default
/*

# Include Docker image inputs
! /debian/buildsystem

# Include MK packages and minimal debian packaging
! /packages/
! /debian/control.in
! /debian/configure.py
! /debian/bootstrap
